@mixin feature-about{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    'about-img about-title'
    'about-img about-text'
}
@mixin aboutS{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 5%;
}
@mixin aboutM{
  align-items: center;
  justify-items: start;
  text-align: left;
  grid-row-gap: 10px;
}
@mixin textTestimonials{
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
@mixin minMaxScreen {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
}
@mixin Montserrat700 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
}
@mixin Montserrat400 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin Lato700 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
}
@mixin Lato400 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
}