@import "variables";
@import "mixin";
.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @include minMaxScreen;
}
.btn {
  text-align: center;
  background-color: #8e82ad;
  color: #fff;
}
.btn:hover {
  color: #8d81ac;
  background-color: #fff;
}
.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  background-color: rgb(34, 33, 37);
  padding-top: 30px;
  padding-bottom: 30px;

  &__logo {
    display: flex;
    align-items: center;

    &:hover &-img {
      background-image: url("../img/header/logo_hover.png");
      background-position: 0 0;
    }

    &:hover &-text {
      color: #ffffff;
    }

    &-img {
      background-image: url("../img/header/logo.png");
      background-repeat: no-repeat;
      width: 43px;
      height: 42px;
    }

    &-text {
      display: none;
    }
  }

  .btn_medium {
    @include Montserrat700;
    font-size: 15px;
    width: 119px;
    height: 38px;
    border-radius: 19px;
    line-height: 38px;
  }

  &__menu-icon {
    display: block;
    width: 26px;
    height: 21px;
    background-image: url("../img/header/sandwich.png");
    background-repeat: no-repeat;
  }
}

.header-menu {
  display: none;
  text-align: left;
  position: absolute;
  top: 103px;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgb(47, 47, 47);
  padding: 0;
  margin: 0;

  &__item {
    border-bottom: 2px solid #363538;

    .header-menu__link {
      @include Montserrat400;
      font-size: 32px;
      color: #ffffff;
      line-height: 78px;
      padding-left: 33px;

      &:hover {
        border-left: 4px solid #8d81ac;
        padding-left: 29px;
        color: #8d81ac;
      }
    }
  }
}

.menu_open {
  display: block;
}

.header__menu-icon2 {
  background-image: url("../img/header/cross.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 21px;
}

.slider {
  position: relative;
  background-image: url("../img/header/slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 43px;
  padding-bottom: 424px;

  &__info {
    text-align: center;
  }

  &__title {
    @include Montserrat700;
    font-size: 48px;
    color: #ffffff;
  }

  &__textMain1 {
    @include Montserrat400;
    font-size: 18px;
    color: #8d81ac;
    margin-top: 20px;
    line-height: 25px;
  }

  &__textMain2 {
    display: none;
    color: #8D81AC;
  }

  &__textSecondary {
    @include Montserrat400;
    font-size: 14px;
    color: #848e97;
    margin-top: 20px;
    text-transform: uppercase;
  }
  &__down {
    display: flex;
    justify-content: center;
  }
  .slider__button {
    bottom: -49px;
    display: inline-block;
    position: absolute;

    .btn_large {
      @include Montserrat700;
      font-size: 18px;
      display: block;
      width: 290px;
      height: 44px;
      border-radius: 22px;
      line-height: 44px;

      &:hover {
        border: 1px solid #8d81ac;
        box-sizing: border-box;
      }
    }

    .slider__text {
      @include Montserrat400;
      font-size: 14px;
      color: #848e97;
      margin-top: 13px;
      text-align: center;
    }
  }
}

.testimonials {
  background-color: #4b3b4e;
  background-image: url("../img/testimonials/testmonials_slider.png");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;

  &__title {
    @include Montserrat700;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding-top: 57px;
    padding-bottom: 53px;
    width: 320px;
  }

  &__box {
    @include aboutS;
    padding: 0;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text p {
    width: 251px;
    height: 150px;
    @include Lato400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #A291A5;
    margin-bottom: 20px;
  }

  &__line {
    width: 245px;
    height: 2px;
    background: #645766;
  }
}

.box {
  @include aboutS;
  padding-bottom: 33px;
  font-family: $font-text;
  @include textTestimonials;
}

.box img {
  padding-bottom: 25px;
}

.box p {
  font-family: $font-text;
  @include textTestimonials;
}
.bloced {
  display: none;
}
@media (min-width: 481px) {
  .container_header {
    flex-wrap: wrap;
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;

    &__logo {
      display: flex;
      align-items: center;
      padding-top: 22px;
      padding-bottom: 8px;

      &-img {
        width: 43px;
        height: 42px;
      }

      &-text {
        display: block;
        @include Lato700;
        font-size: 24px;
        text-transform: uppercase;
        color: #8d81ac;
        margin-left: 17px;
      }
    }

    &__menu-icon {
      display: none;
    }

    &__menu-icon2 {
      display: none;
    }

    .header-menu {
      display: block;
      white-space: nowrap;
      position: initial;
      flex-basis: 100%;
      text-align: center;
      background-color: transparent;
      padding-top: 8px;
      padding-bottom: 22px;

      &__item {
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        border-bottom: none;
        padding: 0;

        .header-menu__link {
          @include Montserrat700;
          font-size: 16px;
          color: #8d81ac;
          line-height: 15px;
          padding-left: 0;

          &:hover {
            color: #ffffff;
            border-left: none;
            padding-left: 0;
          }
        }
      }
    }

    .btn_medium {
      @include Montserrat700;
      font-size: 16px;
      width: 145px;
      height: 38px;
      border-radius: 19px;
      line-height: 38px;
    }
  }

  .slider {
    padding-top: 101px;
    padding-bottom: 454px;

    &__title {
      @include Montserrat700;
      font-size: 54px
    }

    &__textMain1 {
      display: none;
    }

    &__textMain2 {
      display: block;
      @include Lato400;
      font-size: 30px;
      line-height: 30px;
      margin-top: 35px;
    }

    &__textSecondary {
      @include Montserrat400;
      font-size: 16px;
      margin-top: 23px;
    }

    .slider__button {
      bottom: -140px;

      .btn_large {
        @include Montserrat700;
        font-size: 18px;
        width: 390px;
        height: 62px;
        border-radius: 31px;
        line-height: 62px;
      }

      .slider__text {
        margin-top: 19px;
        margin-bottom: 80px;
      }
    }
  }

  .testimonials {
    padding: 0 10%;

    &__title {
      width: 100%;
    }

    &__text p {

      width: 100%;
      height: 56px;
    }

    &__line {
      width: 555px;
    }
  }
  .testimonials__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "box-part1 box-part2"
    "box-part3 box-part4"
    "box-part5 box-part6";
    grid-column-gap: 10%;
    grid-row-gap: 70px;
    padding-bottom: 68px;

    &__part1 {
      grid-area: box-part1;
    }

    &__part2 {
      grid-area: box-part2;
    }

    &__part3 {
      grid-area: box-part3;
    }

    &__part4 {
      grid-area: box-part4;
    }

    &__part5 {
      grid-area: box-part5;
    }

    &__part6 {
      grid-area: box-part6;
    }
  }
  .box {
    padding: 0;
  }
}

@media (min-width: 993px) {

  .header {
    padding: 30px 0 30px 0;

    &__logo {
      padding-top: 0;
      padding-bottom: 0;
    }

    .header-menu {
      flex-basis: initial;
      margin-left: auto;
      padding-top: 0;
      padding-bottom: 0;

      &__item {
        margin-right: 48px;
        margin-left: 0;
      }
    }

    .btn_medium {
      order: 3;
    }
  }

  .slider {
    padding-top: 50px;
    padding-bottom: 487px;

    &__title {
      @include Montserrat700;
      font-size: 72px;
    }

    &__textSecondary {
      @include Montserrat400;
      font-size: 14px;
      margin-top: 20px;
    }

    .slider__button {
      .slider__text {
        margin-top: 19px;
      }
    }
  }

  .testimonials {
    &__text p {
      width: 887px;
      height: 35px;
    }

    &__line {
      width: 780px;
    }
  }

  .testimonials__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "box-part1 box-part2 box-part3"
    "box-part4 box-part5 box-part6";
    padding-bottom: 118px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 30px 0 30px 0;

    &__logo {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .header-menu {
    -webkit-flex-basis: initial;
    -ms-flex-preferred-size: initial;
    flex-basis: initial;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;

    &__item {
      margin-right: 48px;
      margin-left: 0
    }
  }
  .btn_medium {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3
  }
}

