@import "variables";
@import "mixin";
.present {
  @include minMaxScreen;
  width: 80%;
  margin: 0 auto;
  padding: 160px 10px 20px;

  &__title {
    font-family: $font-main;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #635C73;
  }

  &__text {
    padding: 20px 0;
    font-family: $font-text;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #323232;
  }

  &__btn-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    justify-content: center;
    grid-template-areas:
    'btn-1 btn-2'
  'btn-3 btn-3';

    li {
      margin: 0 auto;
    }

    :nth-child(1) {
      grid-area: btn-1;
    }

    :nth-child(2) {
      grid-area: btn-2;
    }

    :nth-child(3) {
      grid-area: btn-3;
    }
  }
}

.statistic-btn {
  display: flex;
  align-items: center;
  margin: 0 10px 20px 0;
  font-size: 12px;
  font-family: $font-main;
  font-weight: bolder;
  line-height: 20px;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 6px;
  color: #24292f;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04);

  &__smth {
    padding: 3px 8px;
    display: flex;
    align-items: center;
    background-color: #f6f8fa;
    border-right: 1px solid rgba(27, 31, 36, 0.15);

    span {
      padding-left: 3px;
    }
  }

  &__count {
    padding: 3px 5px;
  }
}

.features {
  @include minMaxScreen;
  margin: 0 auto;
  padding: 20px 10px;
  display: grid;
  grid-row-gap: 40px;
  justify-items: end;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'title title'
    'about-1 about-1'
    'about-2 about-2'
    'about-3 about-3'
    'about-4 about-4'
    'code-screen code-screen';

  &__title {
    text-align: center;
    grid-area: title;
    font-family: $font-main;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #8D81AC;
    padding: 20px 10%;
  }

  &__about-part1 {
    grid-area: about-1;
    @include aboutS;
  }

  &__about-part2 {
    grid-area: about-2;
    @include aboutS;
  }

  &__about-part3 {
    grid-area: about-3;
    @include aboutS;
  }

  &__about-part4 {
    grid-area: about-4;
    @include aboutS;
  }

  &__code-screen {
    grid-area: code-screen;
    margin-right: -10px;
  }

  &__about-img {
    margin: 0 auto;
    grid-area: about-img;
    padding-bottom: 20px;
  }

  &__about-title {
    grid-area: about-title;
    font-family: $font-main;
    font-size: 16px;
    line-height: 16px;
    color: #323232;
    padding-bottom: 20px;
  }

  &__about-text {
    grid-area: about-text;
    font-family: $font-text;
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
    padding-bottom: 20px;
  }
}

.features img {
  width: auto;
  max-width: 100%;
  height: fit-content;
}

.pricing {
  @include minMaxScreen;
  background: url("../img/pricing/bg.png") center center/cover;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 300px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  justify-items: center;
  padding: 40px 10px 10px;
  text-align: center;
  grid-template-areas:
    "title"
    "price-1"
    "price-2"
    "price-3"
    "price-4";

  :nth-child(1) {
    grid-area: title;
  }

  #first-price-card {
    grid-area: price-1;
    width: 90%;
  }

  #second-price-card {
    grid-area: price-2;
    width: 90%;
  }

  #optimal-price {
    grid-area: price-3;
  }

  #third-price-card {
    width: 90%;
    grid-area: price-4;
  }

  &__title {
    font-family: $font-main;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
  }
}

.pricing-card {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  color: #FFFFFF;
  text-align: center;
  margin: 10px 0 auto;

  &__title {
    font-size: 24px;
    line-height: 24px;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 35px 0;
    text-transform: uppercase;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.11);
    height: 400px;
  }

  &__price {
    font-size: 60px;
    line-height: 62px;
  }

  &__period {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__line {
    background-color: rgba(141, 129, 172, 1);
    width: 60px;
    height: 5px;
  }

  &__about {
    font-size: 16px;
    line-height: 18px;
  }

  &__btn {
    font-family: $font-main;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 40px;
    border: 0;
    padding: 15px 30px;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

#optimal-price {
  .pricing-card {
    &__title {
      background-color: rgba(0, 0, 0, 0.11);
      padding: 40px 0;
    }

    &__body {
      background-color: rgba(70, 48, 72, 0.84);
      height: 470px;
    }
    &__price{
      font-size: 82px;
      line-height: 84px;
    }
  }
}

@media (min-width: 481px) {
  .present {
    &__title {
      font-size: 42px;
      line-height: 42px;
    }

    &__text {
      font-size: 21px;
      line-height: 32px;
    }

    &__btn-list {
      grid-template-columns: repeat(3, auto);
      grid-template-areas:
    'btn-1 btn-2 btn-3';
    }
  }
  .features {
    grid-row-gap: 30px;

    &__title {
      font-size: 42px;
      line-height: 44px;
    }

    &__about-title {
      line-height: 21px;
    }

    &__about-part1, &__about-part2, &__about-part3, &__about-part4 {
      @include feature-about;
      @include aboutM;
    }

    &__about-text, &__about-title, &__about-img {
      padding-bottom: 0;
    }

    &__code-screen {
      display: flex;
      justify-content: right;
    }
  }
  .pricing {
    padding: 100px 5%;
    margin: 0 auto;
    justify-items: end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "price-1 price-2"
      "price-3 price-4";

    &__title {
      font-size: 42px;
      line-height: 44px;
      width: 100%;
      text-align: center;
      padding-bottom: 30px;
    }
  }

  .pricing-card {
    width: 100%;
    &__price {
      line-height: 90px;
    }
  }
  #optimal-price {
    .pricing-card {
      &__price{
        line-height: 90px;
      }
    }
  }
}

@media (min-width: 993px) {
  .present {
    &__title {
      font-size: 54px;
      line-height: 54px
    }

  }
  .features {
    background: #F4F4F4;
    grid-template-areas:
    'about-1 title'
    'about-2 code-screen'
    'about-3 code-screen'
    'about-4 code-screen';

    &__title {
      text-align: left;
      padding: 0;
      font-size: 48px;
      line-height: 50px;
    }

    &__code-screen {
      margin-top: -30px;
      padding: 0;
    }
  }
  .pricing {
    grid-template-columns: 24% 24% 28% 24%;
    padding: 100px 5%;
    grid-column-gap: 20px;
    justify-items: center;
    #first-price-card, #second-price-card, #third-price-card{
      width: 100%;
    }
    grid-template-areas:
      "title title title title"
      "price-1 price-2 price-3 price-4";

    &__title {
      font-size: 48px;
      line-height: 50px;
    }
  }
}